.time-travel-wrapper {
  float: right;
  display: flex;
  align-items: center;
  width: calc(100% - 368px);
}

.time-travel-wrapper label {
  font-size: 16px;
}

.time-travel-wrapper input {
  margin-right: 8px;
  height: 32px;
}

.time-travel-wrapper .time-travel-tip {
  margin-left: 4px;
  width: 22px;
  height: 22px;
}

.time-travel-wrapper .time-travel-tip img {
  width: 100%;
  height: 100%;
}

.time-travel-container {
  padding-top: 8px;
}

.time-travel-container .time-travel-wrapper {
  float: none;
  margin: 0 auto;
  width: 242px;
}
